/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.alert
  font-style italic
  padding 15px 20px;
  background-color #ebebeb;
  border-left 10px solid #9f9f9f;

.alert.success
  background-color #c9ebc2;
  border-left 10px solid #6fbb5d;
