<template>
  <div class="alert"><slot></slot></div>
</template>

<script>
export default {
  props: ['message'],
}
</script>

<style>
.alert{
  font-style: italic;
  padding: 15px 20px;
  background-color: #c9ebc2;
  border-left: 10px solid #6fbb5d;
}
</style>
