<template>
  <div class="expanderDemo">
    <div class="opt">
      <h5>Types</h5>
      <hr>
      <div><input v-model="type" type="radio" name="types" value="caret" /> Caret</div>
      <div><input v-model="type" type="radio" name="types" value="arrow" /> Arrow</div>
      <div><input v-model="type" type="radio" name="types" value="chevron" /> Chevron</div>
      <div><input v-model="type" type="radio" name="types" value="pm" /> Plus/Minus</div>
    </div>
    <div class="opt">
      <h5>Modifiers</h5>
      <hr>
      <div><input v-model="modifier" type="radio" name="modifiers" value="none" /> None</div>
      <div><input v-model="modifier" type="radio" name="modifiers" value="circle" /> Circle</div>
      <div><input v-model="modifier" type="radio" name="modifiers" value="circlefilled" /> Circle Filled</div>
      <div><input v-model="modifier" type="radio" name="modifiers" value="square" /> Square</div>
      <div><input v-model="modifier" type="radio" name="modifiers" value="squarefilled" /> Square Filled</div>
    </div>
    <div class="ctrl" :class="this.modifier">
      <div class="arrow" v-show="show('arrow')">
        <span class="icon-arrow-down" />
        <span class="icon-arrow-up" />
        <span class="icon-arrow-left" />
        <span class="icon-arrow-right" />
      </div>
      <div class="chevron" v-show="show('chevron')">
        <span class="icon-chevron-down" />
        <span class="icon-chevron-up" />
        <span class="icon-chevron-left" />
        <span class="icon-chevron-right" />
      </div>
      <div class="caret" v-show="show('caret')">
        <span class="icon-caret-down" />
        <span class="icon-caret-up" />
        <span class="icon-caret-left" />
        <span class="icon-caret-right" />
      </div>
      <div class="pm" v-show="show('pm')">
        <span class="icon-plus" />
        <span class="icon-minus" />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        type: 'caret',
        modifier: 'none'
      }
    },
    methods: {
      show(which){
        return which == this.type;
      }
    }
  }
</script>

<style scoped>
.expanderDemo {
  border: 1px solid #999;
  margin: 0.25em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.opt {
  flex: 1 auto;
  border-right: 1px solid #999;
  padding: 1em;
  transition-property: 'background-color';
  transition-duration: 600ms;
}
.opt:hover {
  background-color: #e9e9e9;
}
.opt > h5 {
  margin-top: 0;
  margin-bottom: 10px;
}
.ctrl {
  padding: 0.5em;
  font-size: 1.2em;
  flex: 0 25px;
  display: block;
  position: relative;
}
.ctrl > div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: auto !important;
}
.ctrl span {
  margin: 3px 0 3px;
  border: 1px solid transparent;
}
.ctrl.circle span {
  border-color: #333;
  border-radius: 50px;
}
.ctrl.square span {
  border-color: #333;
}
.ctrl.circlefilled span {
  border-color: #333;
  background-color: #333;
  border-radius: 50px;
  color: #DEDEDE;
}
.ctrl.squarefilled span {
  border-color: #333;
  background-color: #333;
  color: #DEDEDE;
}
</style>