@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?mcs9wt');
  src:  url('icomoon.eot?mcs9wt#iefix') format('embedded-opentype'),
    url('icomoon.ttf?mcs9wt') format('truetype'),
    url('icomoon.woff?mcs9wt') format('woff'),
    url('icomoon.svg?mcs9wt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-minus:before {
  content: "\e90b";
}
.icon-caret-down:before {
  content: "\e911";
}
.icon-caret-up:before {
  content: "\e912";
}
.icon-caret-left:before {
  content: "\e916";
}
.icon-caret-right:before {
  content: "\e917";
}
